/* Container for the whole page */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  min-height: 100vh;        
  margin: 0;                
  background-color: #f3b5c5; 
}

/* Styles for the notes section */
.notes-section {
  margin-bottom: 2rem;
  text-align: center;       /* Center text inside notes section */
  width: 100%;
  max-width: 600px;         /* Limit width for readability */
}

.notes-section h2 {
  color: #333;
  font-size: 24px;
}

/* Styles for individual notes */
.note {
  background-color: #f9f9f9;
  border-left: 5px solid #007bff;
  margin: 10px auto;        /* Center notes horizontally */
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 500px;         /* Keep notes aligned with form */
}

/* Styles for the form section */
form {
  background-color: #fff2ba;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 500px;
  max-width: 500px;
  width: 100%;
  text-align: center;       
}

form h2 {
  color: #4a90e2;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 0 1px 4px #7c7c7c;
}

form h1 {
  color: #4a90e2;
  margin-bottom: 20px;
  text-shadow: 0 1px 4px #7c7c7c;
}

form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;           /* Ensure labels are above inputs */
  text-align: left;         /* Keep labels aligned left for clarity */
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #90ffa8;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form input[type="submit"]:hover {
  background-color: #acffbe;
}

.logout-button {
  position: fixed;        
  top: 20px;              
  right: 20px;            
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  z-index: 1000;          
}

.logout-button:hover {
  background-color: #d32f2f; 
}


@media (max-width: 600px) {
  .logout-button {
    padding: 8px 16px;
    font-size: 14px;
    top: 10px;
    right: 10px;
  }
}

