.note-container {
  padding: 10px;
  margin: 20px auto;       
  border-radius: 5px;
  text-align: center;      
  max-width: 500px;        
  word-wrap: break-word;     
  overflow-wrap: break-word; 
  white-space: normal;       
  background-color: #fff2ba;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-title {
  color: #333;
  margin-bottom: 10px;
}

.note-content {
  color: #666;
  margin-bottom: 10px;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.delete-button {
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;    
}

.delete-button:hover {
  background-color: #d32f2f; 
}
